%section.py-5.text-center
  .row.py-lg-5
    .col-lg-6.col-md-8.mx-auto
      %h1.font-weight-light アジア諸外国の言語を学ぶ
      %p.lead.text-muted
        対応言語
        %br
        = Language.pluck(:name).join("、")
      %p
        = link_to "講師としてログイン", new_teacher_session_path, class: "btn btn-primary my-2"
